body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  
  .redaction-page {
    text-align: center;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    color: limegreen;
  }
  
  h1 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(2rem, 6vw, 6rem);
    color: limegreen;
  }
  
  input[type="file"] {
    margin-top: 20px;
    color: white;
  }
  
  .toggle-buttons {
    margin: 20px 0;
  }
  
  label {
    color: limegreen;
    margin: 0 10px;
  }
  
  button {
    background-color: limegreen;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  a {
    color: limegreen;
    margin-top: 20px;
  }
  .redaction-page {
    text-align: center;
  }
  
  .toggle-buttons {
    margin: 20px 0;
  }
  
  .processed-files ul {
    list-style: none;
    padding: 0;
  }
  
  .processed-files li {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .download-icon {
    margin-left: 10px;
    cursor: pointer;
    color: limegreen;
  }